<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
       <div class="container">
         <div class="row gy-3">
           <!-- Left elements -->
           <div class="col-lg-2 col-sm-4 col-4">
               <i class="fas fa-shopping-cart me-2 "></i>
             <span class="spn">Jiso Store</span>      
           </div>
           <!-- Left elements -->
   
           <!-- Center elements -->
           <div class="order-lg-last col-lg-5 col-sm-8 col-8">
             <div class="d-flex float-end">
               <a *ngIf="user.role=='admin' || user.role=='user'" routerLink="/cart" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                 <i class="fas fa-shopping-cart m-1 me-md-2"></i>
                 <p class="d-none d-md-block mb-0">My cart</p>
               </a>
               <a *ngIf="user.role=='admin' || user.role=='user'" routerLink="/wishlist" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                 <i class="fas fa-heart m-1 me-md-2"></i>
                 <p class="d-none d-md-block mb-0">Wishlist</p>
               </a>
               <a *ngIf="user.role=='admin' || user.role=='user'" routerLink="/account" class="nav-link d-flex align-items-center">
                 <i class="fas fa-user-alt m-1 me-md-2"></i>
               </a>
               <a style="cursor: pointer;" (click)="logout()" *ngIf="user.role=='admin' || user.role=='user'" class=" nav-link d-flex align-items-center">
                 <i class="fas fa-sign-out-alt m-1 me-md-2"></i><!--p class="d-none d-md-block mb-0">Sign out</p-->
               </a>
               <a *ngIf="user.role=='guest'" routerLink="/login" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                 <i class="fas fa-user-alt m-1 me-md-2"></i>
                 <p class="d-none d-md-block mb-0">Sign in</p>
               </a>
             </div>
           </div>
           <!-- Center elements -->
   
           <!-- Right elements -->
           <div class="col-lg-5 col-md-12 col-12">
           </div>
           <!-- Right elements -->
         </div>
       </div>
     </div>

     <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-dark">
   <!-- Container wrapper -->
   <div class="container justify-content-center justify-content-md-between">
     <!-- Collapsible wrapper -->
     <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
       <!-- Left links -->
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a class="nav-link text-white-50" routerLink="/home"><strong>Home</strong></a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-white-50" routerLink="/products"><strong>Products List</strong></a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-white" routerLink="/checkout"><strong>Account</strong></a>
         </li>
       </ul>
       <!-- Left links -->
     </div>
   </div>
   <!-- Container wrapper -->
 </nav>
 </header>
 
 
 <router-outlet></router-outlet>
