<div class="all">
<div class="container" id="container">
    <div class="form-container sign-up">
        <form *ngIf="selectedNextOrPrivois=='previous'" [formGroup]="CreateAccountFormGroup" (ngSubmit)="CreateAccount()">
            <h2>Create Account</h2>
            <input type="text" formControlName="firstName" placeholder="FirstName">
            <input type="text" formControlName="lastName" placeholder="LastName">
            <input type="text" formControlName="age" placeholder="Age">
            <input type="email" formControlName="email" placeholder="Email">
            <a style="cursor: pointer;" (click)="NextOrPrevious('next')">Next >></a>
        </form>

    <form *ngIf="selectedNextOrPrivois=='next'" [formGroup]="CreateAccountFormGroup" (ngSubmit)="CreateAccount()">
        <h2>Create Account</h2>
        <input type="password" formControlName="password" placeholder="Password">
        <input type="password" formControlName="confirmedPassword" placeholder="Confirm Password">
        <!--label class="adminLabel" for="a">Are you admin ?</label>
        <input type="checkbox" formControlName="isAdmin" id="a"-->
        <br>
        <div class="form-check mb-3" >
            <input class="form-check-input" type="checkbox" formControlName="isAdmin" id="flexCheckDefault1" style="align-self: self-start;"/>
            <label class="form-check-label" for="flexCheckDefault1">I am admin</label>
        </div>
        <input *ngIf="CreateAccountFormGroup.value.isAdmin == true" type="text" formControlName="adminCode" placeholder="Enter admin code">
        <a style="cursor: pointer;" (click)="NextOrPrevious('previous')">Previous</a>
        <button class="bg-dark" type="submit">Sign Up</button>
    </form>
    </div>

    <div class="form-container sign-in">
        <form [formGroup]="loginFormGroup" (ngSubmit)="Login()">
            <h1>Sign In</h1>
            <br/>
            <input type="email" formControlName="email" placeholder="Email">
            <input type="password" formControlName="password" placeholder="Password">
            <a>Forget Your Password?</a>
            <button class="bg-dark" type="submit">Sign In</button>
            <button (click)="Guest()" class="bg-dark">Continue as guest</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle bg-dark">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button (click)="setupJavaScript()" class="hidden" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button (click)="setupJavaScript()" class="hidden" id="register">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</div>


