<!--Main Navigation-->
<header>
  <!-- Jumbotron -->
  <div class="p-3 text-center bg-white border-bottom">
    <div class="container">
      <div class="row gy-3">
        <!-- Left elements -->
        <div class="col-lg-2 col-sm-4 col-4">
          <i class="fas fa-shopping-cart me-2 "></i>
          <span class="spn">Jiso Store</span>
        </div>
        <!-- Left elements -->

        <!-- Right elements -->
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="d-flex float-end">
            <a *ngIf="user.role == 'admin'" routerLink="/admin" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
              <i class="fas fa-user-alt m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Manage</p>
            </a>
            <a *ngIf="user.role=='guest'" routerLink="/cart" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="fas fa-shopping-cart m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Cart</p> </a>
            <a *ngIf="user.role=='admin' || user.role=='user'" routerLink="/cart" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="fas fa-shopping-cart m-1 me-md-2"></i><p class="d-none d-md-block mb-0">My Cart</p> </a>
            <a *ngIf="user.role=='admin' || user.role=='user'" routerLink="/wishlist" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="fas fa-heart m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Wishlist</p> </a>

            <a *ngIf="user.role=='guest'" routerLink="/login" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
              <i class="fas fa-user-alt m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Sign Up</p>
            </a>
            <a style="cursor: pointer;" (click)="logout()" *ngIf="user.role=='admin' || user.role=='user'" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
              <i class="fas fa-sign-out-alt m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Sign out</p>
            </a>
          </div>
        </div>
        <!-- Right elements -->
         <!-- Center elements -->
         <div class="col-lg-5 col-md-12 col-12">
      </div>
      <!-- Center elements -->
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <!-- Container wrapper -->
    <div class="container justify-content-center justify-content-md-between">
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white-50" routerLink="/home"><strong>Home</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white-50" routerLink="/products"><strong>Products List</strong></a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" routerLink="/products"><strong>Product Description</strong></a>
            </li>
        </ul>
        <!-- Left links -->
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>

<br>

<!-- sidebar + content -->
<section class="">
  <div class="container">
    <div class="row">

      

<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" [src]="currentProduct.productImage" />
        </div>
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h2 class="title text-dark">
           {{currentProduct.productTitle}}
          </h2>
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1">
                4.5
              </span>
            </div>
            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>0 orders</span>
            <span class="text-success ms-2">In stock</span>
          </div>

          <div class="mb-3">
            <span class="h5">{{currentProduct.productPrice | currency : 'MAD'}}</span>
            <span class="text-muted">/per item</span>
          </div>

          <p>
           {{currentProduct.details}}
          </p>

          <br />
          <div class="row">
            <dt class="col-3">Category :</dt>
            <dd class="col-9">{{currentProduct.productCategory}}</dd>

            <dt class="col-3">Quantity in stock :</dt>
            <dd class="col-9">{{currentProduct.productQuantity}}</dd>
          </div>

          <hr />

          <div class="row mb-4">
            <div class="col-md-4 col-6 mb-3">
              <label class="mb-2 d-block">Quantity</label>
              <div class="input-group mb-3" style="width: 170px;">
                <button (click)="decrement()" class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                  <i class="fas fa-minus"></i>
                </button>
                <input [ngModel]="quantity" min="1" max="{{currentProduct.productQuantity}}" type="text" class="form-control text-center border border-secondary" placeholder="1" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                <button (click)="increment()" class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <button (click)="buyNow(currentProduct)" class="btn btn-warning shadow-0 me-2"> Buy now </button>
          <button (click)="addToCart(currentProduct)" class="btn btn-primary shadow-0 me-2"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </button>
          <a (click)="addToWishlist(currentProduct)" class="btn btn-light border border-secondary py-2 icon-hover px-3 me-2"> <i class="me-1 fa fa-heart fa-lg"></i> Save </a>
        </div>
      </main>
    </div>
  </div>
</section>
<!-- content -->

 <!-- Related items section-->
 <section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div *ngFor="let p of relatedProducts" class="col mb-5">
              <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                  <!-- Product image-->
                  <a href="/details/{{p.productId}}">
                    <img class="card-img-top" [src]="p.productImage" alt="..." />
                  </a>
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <a href="/details/{{p.productId}}" class="nav-link text-dark">
                            <h3 class="fw-bolder">{{p.productTitle}}</h3>
                          </a>
                          <!-- Product price-->
                          <h3>{{p.productPrice | currency : 'MAD'}}</h3>
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><button (click)="addToCart(p)" class="btn btn-outline-dark mt-auto">ADD TO CART</button></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

    </div>
  </div>
</section>

<!-- Feature -->
<section class="mt-5" style="background-color: #f5f5f5;">
  <div class="container text-dark pt-3">
    <header class="pt-4 pb-3">
      <h2>Why choose us</h2>
    </header>

    <div class="row mb-4">
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-camera-retro fa-2x fa-fw text-dark floating"></i>
          </span>
          <figcaption class="info">
            <h3 class="title">Reasonable prices</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-star fa-2x fa-fw text-dark floating"></i>
          </span>
          <figcaption class="info">
            <h3 class="title">Best quality</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-plane fa-2x fa-fw text-dark floating"></i>
          </span>
          <figcaption class="info">
            <h3 class="title">Worldwide shipping</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-users fa-2x fa-fw text-dark floating"></i>
          </span>
          <figcaption class="info">
            <h3 class="title">Customer satisfaction</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-thumbs-up fa-2x fa-fw text-dark floating"></i>
          </span>
          <figcaption class="info">
            <h3 class="title">Happy customers</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-box fa-2x fa-fw text-dark floating"></i>
          </span>
          <figcaption class="info">
            <h3 class="title">Thousand items</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
    </div>
  </div>
  <!-- container end.// -->
</section>
<!-- Feature -->
